{% load static %}



<div class="xl">
	<div class="magin_left_right">
			<div class="grid-container">
				<div class="col1">
					{% for element in xl_list_1 %}
					
						<div class="element">
							<h1 class="title_of_element">
								{{element.name}}
							</h1>
							<p class="desc">
								{{element.desc}}
							</p>

							<div class="buttom_form">
								<p class="name">Albert Flores</p>
								<p class="date">8/30/14</p>
							</div>
						</div>
					{% endfor %}
					
				</div>
				<div class="col2">
					{% for element in xl_list_2 %}
					
						<div class="element">
							<h1 class="title_of_element">
								{{element.name}}
							</h1>
							<p class="desc">
								{{element.desc}}
							</p>

							<div class="buttom_form">
								<p class="name">Albert Flores</p>
								<p class="date">8/30/14</p>
							</div>
						</div>
					{% endfor %}
					
				</div>
				<div class="col3">

					{% for element in xl_list_3 %}
					
						<div class="element">
							<h1 class="title_of_element">
								{{element.name}}
							</h1>
							<p class="desc">
								{{element.desc}}
							</p>

							<div class="buttom_form">
								<p class="name">Albert Flores</p>
								<p class="date">8/30/14</p>
							</div>
						</div>
					{% endfor %}
					
				</div>
			</div>
	</div>
</div>



<div class="lg">
	<div class="magin_left_right">
			<div class="grid-container">
				<div class="col1">
					{% for element in md_list_1 %}
					
						<div class="element">
							<h1 class="title_of_element">
								{{element.name}}
							</h1>
							<p class="desc">
								{{element.desc}}
							</p>

							<div class="buttom_form">
								<p class="name">Albert Flores</p>
								<p class="date">8/30/14</p>
							</div>
						</div>
					{% endfor %}
					
				</div>
				<div class="col2">
					{% for element in md_list_2 %}
					
						<div class="element">
							<h1 class="title_of_element">
								{{element.name}}
							</h1>
							<p class="desc">
								{{element.desc}}
							</p>

							<div class="buttom_form">
								<p class="name">Albert Flores</p>
								<p class="date">8/30/14</p>
							</div>
						</div>
					{% endfor %}
					
				</div>
			</div>
	</div>
</div>

<div class="sm">
	<div class="magin_left_right">
			<div class="grid-container">
				<div class="col1">
					{% for element in items %}
					
						<div class="element">
							<h1 class="title_of_element">
								{{element.name}}
							</h1>
							<p class="desc">
								{{element.desc}}
							</p>

							<div class="buttom_form">
								<p class="name">Albert Flores</p>
								<p class="date">8/30/14</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
	</div>
</div>
