.element{
	width: 100%;

	background: rgba(244, 244, 244, 0.5);
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
  	border-radius: 16px;
}

.title_of_element{
	padding: 16px;
	text-align: center;

	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 30px;

	color: #232323;
}
.desc{
	padding: 0 16px;

	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #232323;
}
.buttom_form{
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;

}

.name{
	font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #232323;	
}
.date{
	font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #232323;
}